/* src/components/customers/customerStyles/CustomerList.css*/



.customers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
  }

  .customers > * {
    flex-basis: 31%;
    margin: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .customer-info {
    color: var(--info);
    font-family: "Roboto", sans-serif;
  }
  
  .customer-header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
    color: var(--primary);
  }
  
  