/* src/components/componentStyles/Employees.css */

.employees {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
}

.user {
    background-color: var(--white);
    border: 1px solid var(--outline);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}
